@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Bellefair&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Variables */
:root {
  --light-theme: #fff;
  --dark-theme: #0b0d17;
  --main-theme: #d0d6f9;
}

/* Base Styles */
@layer base {
  h1 {
    font: 9.375rem Bellefair;
  }
  h2 {
    font: 6.25rem Bellefair;
  }
  h3 {
    font: 3.5rem Bellefair;
  }
  h4 {
    font: 2rem Bellefair;
  }
  h5 {
    font: 1.75rem "Barlow Condensed";
    letter-spacing: 4.75px;
    color: var(--main-theme);
  }
  body {
    @apply text-base font-sans tracking-tight leading-7 text-white;
    color: var(--main-theme);
  }
  ul {
    @apply text-base;
    letter-spacing: 2.7px;
    font-family: "Barlow Condensed";
    color: var(--main-theme);
  }
}

/* COMPONENTS AND CUSTOM CSS */

@layer components {
  .subheading1 {
    font: 1.75rem "Bellefair";
  }
  .subheading2 {
    @apply text-sm;
    font-family: "Barlow Condensed";
    letter-spacing: 2.35px;
  }
}

/* UTILITIES */
/* Nav Gradients */
@layer utilities {
  @variants responsive {
    .gradient-sm {
      @apply bg-gradient-to-b from-gray-900 via-gray-800 to-gray-600;
    }
    .gradient-md {
      @apply bg-gradient-to-b  from-transparent via-transparent to-transparent;
    }
  }
}
/* Homepage Background Image Class */
@layer utilities {
  @variants responsive {
    .bgHomeMobile {
      background-image: url("../src/assets/home/background-home-mobile.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }

    .bgHomeTablet {
      background-image: url("../src/assets/home/background-home-tablet.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }
    .bgHomeDesktop {
      background-image: url("../src/assets/home/background-home-desktop.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }
  }
}

/* Destination Background Image Class */
@layer utilities {
  @variants responsive {
    .bgDMobile {
      background-image: url("../src/assets/destination/background-destination-mobile.jpg");
      @apply bg-repeat-y;
      background-size: cover;
      background-attachment: fixed;
    }

    .bgDTablet {
      background-image: url("../src/assets/destination/background-destination-tablet.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }
    .bgDDesktop {
      background-image: url("../src/assets/destination/background-destination-desktop.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }
  }
}

/* CREW Background Image Class */
@layer utilities {
  @variants responsive {
    .bgCMobile {
      background-image: url("../src/assets/crew/background-crew-mobile.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }

    .bgCTablet {
      background-image: url("../src/assets/crew/background-crew-tablet.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }
    .bgCDesktop {
      background-image: url("../src/assets/crew/background-crew-desktop.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }
  }
}
/* Technology Background Image Class */
@layer utilities {
  @variants responsive {
    .bgTMobile {
      background-image: url("../src/assets/technology/background-technology-mobile.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }

    .bgTTablet {
      background-image: url("../src/assets/technology/background-technology-tablet.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }
    .bgTDesktop {
      background-image: url("../src/assets/technology/background-technology-desktop.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }
  }
}
